@{
    ViewData["Title"] = "La page des utilisateurs";
}
@model CiteU.Models.User.UserEditViewModel
<h1>@(Model.IsCreation ? "Création d'une assemblée" : Model.CurrentUser.Nom + " " + Model.CurrentUser.Prenom)</h1>


<form asp-controller="User" asp-action="@(Model.IsCreation ? "Create" : "Edit")" method="post" class="container">
    @if (!Model.IsCreation)
    {
        <input type="hidden" asp-for="CurrentUser.IdUser" />
    }
    <div class="input-group">
        <label asp-for="CurrentUser.Nom">Nom</label>
        <input asp-for="CurrentUser.Nom" class="form-control" />
    </div>
    <div class="input-group">
        <label asp-for="CurrentUser.Prenom">Prenom</label>
        <input asp-for="CurrentUser.Prenom" class="form-control" />
    </div>
    <div class="input-group">
        <label asp-for="CurrentUser.Mail">Mail</label>
        @if (Model.CurrentUser == null)
        {
            <input asp-for="CurrentUser.Mail" class="form-control" type="email" />
        }
        else
        {
            <input asp-for="CurrentUser.Mail" class="form-control" type="email" readonly />
        }
    </div>
    <div class="input-group">
        <label asp-for="CurrentUser.Mail">Mot de passe</label>
        @if (Model.CurrentUser == null || Model.CurrentUser.Mdp == null)
        {
            <input asp-for="CurrentUser.Mdp" class="form-control" type="text" />
        }
        else
        {
            <input asp-for="CurrentUser.Mdp" class="form-control" type="password" readonly/>
        }
    </div>
    <div class="input-group">
        <label asp-for="CurrentUser.Phone">Phone</label>
        <input asp-for="CurrentUser.Phone" class="form-control" />
    </div>
    <div class="input-group">
        <label asp-for="CurrentUser.Privilege">Privilege</label>
        <input asp-for="CurrentUser.Privilege" class="form-control" />
    </div>
    <div class="input-group">
        <label asp-for="CurrentUser.Sexe">Sexe</label>
        <select asp-for="CurrentUser.Sexe" class="form-control">
            <option value="M">Homme</option>
            <option value="F">Femme</option>
        </select>
    </div>
    <div class="input-group">
        <label asp-for="CurrentUser.IdAssemblee">Assemblée</label>
        <select asp-for="CurrentUser.IdAssemblee" class="form-control">
            @foreach (var assemblee in Model.AllAssemblees)
            {
                <option value="@assemblee.IdAssemblee">@assemblee.Nom</option>
            }
        </select>
    </div>
    <div class="input-group">
        <label asp-for="CurrentUser.Droit">Droit</label>
        <select asp-for="CurrentUser.Droit" class="form-control">
            @foreach (var droit in Model.AllDroits)
            {
                <option value="@droit.IdDroit">@droit.Libelle</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success">Valider</button>
</form>
@if (!Model.IsCreation)
{
    <form asp-controller="User" asp-action="Delete" method="post">
        <input type="hidden" name="@nameof(Model.CurrentUser.IdUser)" value="@Model.CurrentUser.IdUser" />
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </form>
}