@{
    ViewData["Title"] = "La page des utilisateurs";
}
@model CiteU.Models.User.UserEditViewModel
<h1>@Model.CurrentUser.Nom @Model.CurrentUser.Prenom</h1>
<form asp-controller="User" asp-action="Index" method="post">
    <input type="hidden" name="@nameof(Model.CurrentUser.IdUser)" value="@Model.CurrentUser.IdUser" />
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>
<ul class="list-group">
    <li class="list-group-item">@Model.CurrentUser.Nom</li>
    <li class="list-group-item">@Model.CurrentUser.Prenom</li>
    <li class="list-group-item">@Model.CurrentUser.Sexe</li>
    <li class="list-group-item">@Model.CurrentUser.Mail</li>
    <li class="list-group-item">@Model.CurrentUser.Phone</li>
    <li class="list-group-item">@Model.CurrentUser.Privilege</li>
    <li class="list-group-item">@Model.CurrentUser.Sexe</li>
    <li class="list-group-item">@Model.CurrentUser.Assemblee</li>
</ul>
